<body class="home">

    <div class="background__right background__left ">

    </div>
{{> header}}



{{#if (eq userRole "admin")}}
  
  <main>
   
    <div class="home__space-area">
       <h1>Welkom, {{user.email}}!</h1>
    {{> headCategory}}
    </div>
</main>


{{else if (eq userRole "teacher")}}
  
  <main>
   
    <div class="home__space-area">
       <h1>Welkom, {{user.email}}!</h1>
    {{> headCategory}}
    </div>
</main>

{{else}}
  
  <main>
    
    <div class="home__space-area">
      <h1>Welkom, {{user.email}}!</h1>
    {{> headCategoryStudent}}
    </div>
</main>

{{/if}}


</body>

