 <h2>Oefeningen</h2>
      <ul class="list__exercises">
        {{#each detailExercises}}
        <li>
            <form action="/oefeningen/{{id}}" method="POST">
            <button type="submit" class="delete__btn" onclick="return confirm('Weet je zeker dat je deze oefening wilt verwijderen?')">X</button>
            </form>
            <div>
                <p>{{naam}}</p>
                <a href="{{link}}">{{link}}</a>
                <p>Niveau: {{niveau}}</p>
            </div>
        </li>
        {{/each}}

      </ul>
      <a href="/oefeningen">
        Voeg een oefening toe
</a>