{{#each allUserMetas}}
{{#if student}}
<ul>
    <li class="remove">{{id}}</li>
    <li>{{voornaam}} {{achternaam}}</li>
    {{#if student}}
    <li class="avatar__list remove remover"> <img src="{{student.avatar}}" alt="avatar"></li>
    <li class="remove ">  {{student.email}}</li>
    {{/if}}
    <li class="remove remover">{{geboortedatum}} </li>
    <li class="remove remover "> {{geboorteplaats}} </li>
    <li>{{classroom}}</li>
    <li class="remove"> {{adres}} </li>
</ul>
{{/if}}
{{/each}}