{{#each allUserMetas}}
{{#if student}}
<ul>
    <li class="remove">{{id}}</li>
    <li>{{voornaam}} {{achternaam}}</li>
    {{#if student}}
    <li class="avatar__list remove remover"> <img src="{{student.avatar}}" alt="avatar"></li>
    <li class="remove">  {{student.email}}</li>
    {{/if}}
    <li class="remove remover">{{geboortedatum}} </li>
    <li class="remove remover"> {{geboorteplaats}} </li>
    <li>{{classroom}}</li>
    <li class="remove"> {{adres}} </li>
    <li>
        <a href="/editstudent/{{student.id}}"><img src="assets/img/edit.svg" alt="change"></a>
        <form action="/api/student/{{student.id}}" method="post">
        <button type="submit"><img src="assets/img/delete.svg" alt="delete" onclick="return confirm('Weet je zeker dat je dit student wilt verwijderen?')"></button>
        </form>
    </li>
</ul>
{{/if}}
{{/each}}