{{#each allUserMetas}}
{{#if staf}}
<ul>
    <li>{{voornaam}} {{achternaam}}</li>
        {{#if staf}}
    <li  class="avatar__list remove remover"> <img src="{{staf.avatar}}" alt="avatar"></li>
    <li class="remove remover">{{staf.email}}</li>
    {{/if}}
    <li class="remove remover">{{geboortedatum}} </li>
    <li>
        <form action="/api/staf/{{staf.id}}" method="post">
        <button type="submit"><img src="assets/img/delete.svg" alt="delete"></button>
        </form>
    </li>
</ul>
{{/if}}
{{/each}}
