{{#each allUserMetas}}
{{#if staf}}
<ul>
    <li>{{voornaam}} {{achternaam}}</li>
        {{#if staf}}
    <li  class="avatar__list"> <img src="{{staf.avatar}}" alt="avatar"></li>
    <li>{{staf.email}}</li>
    {{/if}}
    <li>{{geboortedatum}} </li>
</ul>
{{/if}}
{{/each}}
