{{#each allUserMetas}}
{{#if staf}}
<ul>
    <li>{{voornaam}} {{achternaam}}</li>
        {{#if staf}}
    <li  class="avatar__list remove"> <img src="{{staf.avatar}}" alt="avatar"></li>
    <li class="remove">{{staf.email}}</li>
    {{/if}}
    <li class="remove" >{{geboortedatum}} </li>
</ul>
{{/if}}
{{/each}}
