{{#each allUserMetas}}
{{#if student}}
<ul>
    <li>{{id}}</li>
    <li>{{voornaam}} {{achternaam}}</li>
    {{#if student}}
    <li class="avatar__list"> <img src="{{student.avatar}}" alt="avatar"></li>
    <li>  {{student.email}}</li>
    {{/if}}
    <li>{{geboortedatum}} </li>
    <li> {{geboorteplaats}} </li>
    <li>{{classroom}}</li>
    <li> {{adres}} </li>
</ul>
{{/if}}
{{/each}}